body {
    font-family: 'Roboto', sans-serif;
    background: url('https://www.transparenttextures.com/patterns/dark-matter.png');
}

#game-piece {
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    text-align: center;
    line-height: 100px;
    color: white;
    cursor: pointer;
    position: relative;
}

#game-target {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    background-color: #008000;
    text-align: center;
    line-height: 150px;
    color: white;
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
}